/* IR - BLIND */
.blind{
  display: block;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0,0,0,0);
  margin: -1px;
}
/* COMMON */
.inner{
  position: relative;
  width: 980px;
  margin: 0 auto;
  height: 100%;
}
.wrap{
  position: relative;
}
/* HEADER */
header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(64,64,64,.75);
  height: 66px;
  z-index: 10;
}
header .logo{
  position: absolute;
  display: block;
  width: 106px;
  height: 22px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background: url(../image/logo.png) no-repeat;
}

/* CONTENTS */
.contents .section{
  width: 100%;
}
.contents .section_invite{
  height: 750px;
  background: url(../image/section_invite.jpg) no-repeat center;
  background-color: #fff;
}
.contents .section_creator{
  height: 822px;
  background: url(../image/section_creator.jpg) no-repeat center;
  background-color: #f9939d;
}
.contents .section_store{
  height: 1084px;
  background: url(../image/section_store.jpg) no-repeat center;
  background-color: #d5e43f;
}
.contents .section_store .item_list{
  display: flex;
  position: absolute;
  bottom: 40px;
  width: 980px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contents .section_store .item_list li{
  position: relative;
  height: 230px;
}
.contents .section_store .item_list li:nth-child(-n+5){
  margin-bottom: 140px;
}
.contents .section_store .item_list .item_img img{
  display: block;
  width: 230px;
  border-radius: 10px;
}
.contents .section_store .item_list .info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;
}
.contents .section_store .item_list .info .item_name{
  font-size: 20px;
  color: #1b1d21;
  width: 210px;
  box-sizing: border-box;
  padding: 0 10px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
.contents .section_store .item_list .info .price{
  font-size: 28px;
  font-weight: bold;
}
.contents .section_store .item_list .info .price::after{
  content: 'Ïõê';
  font-size: 20px;
  color: #1b1d21;
  font-weight: normal;
}
.contents .section_store .item_list .deemed{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(96,132,2,.9);
  top: 0;right: 0;left: 0;bottom: 0;
  position: absolute;
  border-radius: 10px;
}
.contents .section_store .item_list .deemed .discount{
  font-size: 65px;
  color: #fff;
}
.contents .section_store .item_list .deemed .time{
  font-size: 20px;
  color: #fff;
}
.contents .section_store .item_list .item_img img:hover + .deemed,
.contents .section_store .item_list .item_img img:focus + .deemed{
  display: flex;
}
.contents .section_recipe{
  background: url(/image/pattern_recipe.png) repeat-x center;
  background-color: #b893f9;
  height: 1030px;
}
.contents .section_recipe .inner{
  position: relative;
  background: url(/image/section_recipe.png) no-repeat center 110px;
  height: 100%;
}
.contents .section_recipe .recipe_link{
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  top: 375px;
}
.contents .section_recipe .recipe_link .link{
  display: block;
  width: 480px;
  height: 482px;
}
.contents .section_recipe .btn{
  display: block;
  width: 310px;
  height: 91px;
  background: url(/image/go_recipe.gif);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 90px;
}
.contents .section_recipe .btn:hover{
  background: url(/image/go_recipe_over.gif);
}
.contents .section_faq{
  background-color: #fff;
  height: 860px;
}
.contents .section_faq .tilte{
  background: url(/image/title_faq.gif);
  width: 98px;
  height: 50px;
  position: absolute;
  top: 100px;
  left: 0; right: 0;
  margin: 0 auto;
}
.contents .section_faq .faq_list{
  position: absolute;
  top: 200px;
}
.contents .section_faq .faq_list li{
  border-top: 1px solid #a1a5ad;
}
.contents .section_faq .faq_list .question_box,
.contents .section_faq .faq_list .answer_box{
  display: flex;
  position: relative;
  padding: 20px;
}
.contents .section_faq .faq_list .answer_box{
  display: none;
  background-color: #f7f8fa;
}
.contents .section_faq .faq_list .answer_box.show{
  display: flex;
}
.contents .section_faq .faq_list .question_box .q_title{
  font-size: 20px;
  color: #1b1d21;
  line-height: 28px;
  margin-right: 40px;
}
.contents .section_faq .faq_list .question_box .icon.q{
  background: url(/image/icon_question.gif) no-repeat center 0;
}
.contents .section_faq .faq_list .answer_box .icon.a{
  background: url(/image/icon_answer.gif) no-repeat center 0;
}
.contents .section_faq .faq_list .answer_box .icon.a,
.contents .section_faq .faq_list .question_box .icon.q
{

  width: 21px;
  min-height: 20px;
  margin-right: 10px;
}
.contents .section_faq .faq_list .question_box .arrow{
  position:absolute;
  right: 20px;
  width: 23px;
  height: 100%;
  margin: -20px -20px 0 0;
  padding: 0 20px;
  vertical-align: middle;
  cursor: pointer;
}
.contents .section_faq .faq_list .question_box .arrow.up{
  background: url(/image/icon_arrow_up.gif) no-repeat center;
}
.contents .section_faq .faq_list .question_box .arrow.down{
  background: url(/image/icon_arrow_down.gif) no-repeat center;
}

/* FOOTER */
footer{
  background-color: #e0e4eb;
  font-size: 18px;
  color: #70757d;
  height: 80px;
  width: 100%;
  position: absolute;
}
footer .inner span{
  display: block;
  text-align: center;
  line-height: 80px;
}

/* TO TOP */
.to-top{
  display: block;
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 120px;
  right: 0;
  background: url(/image/go_top.gif);
}